<h1>Troque seus pontos por um cupom da lista, essa troca não pode ser desfeita depois de confirmada.</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @promo_codes.present? %>
      <% @promo_codes.each do |promo_code| %>
        <%= link_to user_promo_code_path(:me, promo_code) do  %>
          aaaaaaaaaa
        <% end %>
      <% end %>
    <% else %>
      Sem código promocionais para sua pontuação      
    <% end %>
  </tbody>
</table>

<br>


