<!-- <h1>Nova denúncia</h1>


< %= link_to 'Voltar', work_path(@work) %>
 -->

<div class="new-complaint">
  <h1> Possível irregularidade </h1>
    
  <%= render 'form', complaint: @complaint %>
  
</div>