.new-complaint {
  overflow-y: hidden;

  h1 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 16px;
  }

  input[type='file'] {
    opacity:0;    
  }

  ::placeholder {
    font-size: 14px !important;
  }
  
  textarea {
    font-size: 14px;   
  }
  

  .form-group {
    text-align: center;
    
    span {
      text-transform: uppercase;
      color: #3062BF;
      font-weight: bold;
      font-size: 14px;
      align: center;
    }
  }

  .btn-primary {
    text-transform: uppercase;
    position: absolute;
    bottom: 40px;
    background-color: #3062BF;
    transform: translateX(-50%);
    left: 50%;
    font-size: 16px;
    width: 82%;
    font-weight: bold;
    padding: 14px;
  }
}