<div class="l-nav">
  <div class="container container-navbar">

    <div class="collapse nav-collapse" id="nav_bar_hidden_content">
      <div>
        <ul>
          <li><%= link_to 'Teste', "#" %></li>
          <li><%= link_to 'Teste', "#" %></li>
        </ul>
      </div>
    </div>

    <div class="navigation">
      <div class="float-right">
        <a href="" class="menu navbar-toggler" data-toggle="collapse" data-target="#nav_bar_hidden_content" aria-controls="nav_bar_hidden_content" aria-expanded="false" aria-label="Toggle navigation">
          <%= image_tag 'ic_menu.svg' %>
        </a>
      </div>
    </div>

  </div>
</div>
