<div class="l-nav">
  <div class="container container-navbar">

    <div class="navigation">
      <div class="float-left">
        <%= image_tag 'ic_arrow_back.svg', id: 'back_page' %>
      </div>

      <div class="float-right">
        <%= link_to 'Sair', destroy_user_session_path(:me), method: :delete, class: 'logout-link' %>
      </div>
    </div>

  </div>
</div>
